body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  font-family:'Courier New', Courier, monospace;
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;    
  background-image: url("https://cdn.pixabay.com/photo/2017/10/27/15/12/geeks-2894621_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

#root {
  box-shadow: 0px 2px 12px;
  margin: 0 24px;
  position: relative;
  min-height: 90vh;
  width: 50rem;
  background-color: rgba(255, 255, 255, 0.323);
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

